/* You can add global styles to this file, and also import other style files */
app-root {
  --bg-color: #1976d2;
  --bg-color2: white;
  --text-color: white;

  &.theme-dark {
    --bg-color: rgba(20,20,20,1);
    --bg-color2: rgba(40,40,40,1);
    --text-color: white;
  }
}
